<template>
    <div id="user-id" class="user-card">
        <div class="user-card-img">
            <img id="user-image" src="assets/img/empty-user.png" />
            <div>
                <h3 id="user-name">Leanne Graham</h3>
                <span id="user-username">Bret</span>
            </div>
        </div>

        <div class="user-card-body">
            <div>
                <i class="fas fa-phone"></i>
                <span id="user-phone">1-770-736-8031</span>
            </div>

            <div>
                <i class="fas fa-address-card"></i>
                <span id="user-address">Kulas Light, Apt. 556, Gwenborough, 92998-3874</span>
            </div>
        </div>

        <div class="user-card-footer">
            <div>
                <span class="user-card-footer-span">Role</span>
                <span id="user-role" class="user-card-footer-badge">Admin</span>
            </div>

            <div>
                <span class="user-card-footer-span">Company</span>
                <span id="user-company" class="user-card-footer-badge">Romaguera-Crona</span>
            </div>
        </div>
    </div>
</template>