.product-card {
    width: calc(100% / 3 - 18px);
    margin: 8px;
    border-radius: 16px;
    border: 1px solid var(--border-color);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.product-card-img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 200px;
    border-bottom: 1px solid var(--border-color);
    position: relative;
}

.product-card-img > img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-card-badges {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 8px;
    display: flex;
    gap: 4px;
}

.product-card-badges > span {
    border-radius: 24px;
    padding: 4px 8px;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: var(--background-secondary);
    font-size: 12px;
}

.product-card-body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.product-card-title {
    margin: 0px;
}

.product-card-description {
    color: #757575;
    font-size: 14px;
}

.product-card-details {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 4px;
    color: #757575;
    font-weight: 500;
}

.product-card-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding: 0px 16px 16px 16px;
}

.product-card-footer > button {
    width: 100%;
}

.product-card-price {
    margin: 8px 0px 0px 0px;
}

/* notebook or small desktop */
@media only screen and (max-width:1280px) { }

/* notebook */
@media only screen and (max-width:1024px) {
    .product-card {
        width: calc(100% / 2 - 18px);
    }
}

/* tablet */
@media only screen and (max-width:900px) { }

/* tablet */
@media only screen and (max-width:768px) { }

/* large smartphone */
@media only screen and (max-width:640px) { 
    .product-card {
        width: 100%;
    }
}

/* smartphone */
@media only screen and (max-width:480px) { }



.product-card,
.user-card {
    width: calc(100% / 3 - 18px);
    margin: 8px;
    border-radius: 16px;
    border: 1px solid var(--border-color);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/* User Card */
.user-card-img {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px;
}

.user-card-img > img {
    width: 36px;
    height: 36px;
    border-radius: 100px;
    object-fit: cover;
}

.user-card-img > div > h3 {
    margin: 0px;
}

.user-card-img > div > span {
    margin-top: 4px;
    color: #757575;
    font-size: 14px;
}

.user-card-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border-bottom: 1px solid var(--border-color);
}

.user-card-body > div {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #757575;
}

.user-card-footer {
    display: flex;
    gap: 16px;
    padding: 16px;
}

.user-card-footer > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.user-card-footer-span {
    color: #757575;
    font-size: 14px;
    font-weight: 500;
}

.user-card-footer-badge {
    border-radius: 24px;
    padding: 4px 8px;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: var(--background-secondary);
    font-size: 12px;
}