.header {
    height: 64px;
    background-color: #FFFFFF;
    position: sticky;
    border: 1px solid var(--border-color);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 0px 24px;
}

.header > .search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px; 
    flex-grow: 1;
}

.header > .search-bar > i {
    color: #9E9E9E;
    cursor: pointer;
}

.header > .search-bar > input {
    border: none;
    outline: none;
}

.header > .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.header > .profile > img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 99px;
}

.header > .logo-content {
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.header > .logo-content > img {
    height: 24px;
}

.header > .logo-content > h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #80C9AE;
    margin: 0px;
}

#menuBtn {
    display: none;
}

/* notebook or small desktop */
@media only screen and (max-width:1280px) { }

/* notebook */
@media only screen and (max-width:1024px) { }

/* tablet */
@media only screen and (max-width:900px) { }

/* tablet */
@media only screen and (max-width:768px) { 
    .header {
        gap: 8px;
        padding: 0px 16px;
        justify-content: space-between;
    }

    .header > .search-bar {
        flex-grow: 0;
    }

    .header > .search-bar > input {
        display: none;
    }

    .header > .profile {
        display: none;
    }

    .header > .logo-content {
        display: flex;
    }

    #logoutBtn {
        display: none;
    }

    #menuBtn {
        display: block;
    }
}

/* large smartphone */
@media only screen and (max-width:640px) { }

/* smartphone */
@media only screen and (max-width:480px) { }