:root{
    
    --primary-color: #448AFF;
    --secondary-color: #3e42b7;
    /*Colores de estado*/
    --danger-color: #FF3D00;
    --success-color: #00C853;
    --warning-color: #FFAB00;
    /*Colores de fondo, deben de ser los colores mas bajitos de las gamas del color principal*/
    --background-primary-color: #e4f3ff;
    --background-secundary-color: #c6c8ea;
    /*Colores de los bordes*/
    --border-color: #b0b0b0;
    /*colores para cuando el cursor este arriba de los elementos
        Nota: tiene que ser una gama mas alta  de los coores primarios y de los estados*/
    --hover-primary: #2979FF;
    --hover-secondary: #2c30a3;
    --hover-danger: #E53935;
    --hover-success: #00B14F;
    --hover-warning: #FF9100;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(54, 61, 61);
}

body {
    margin: 0;
    padding: 0;
}

.layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;

}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}